<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Features Section</title>
  <link rel="stylesheet" href="./features.component.css">
</head>
<body class="features-section">
  <div class="innerContainer">
    <h1>Our Features</h1>
    <p class="text">
      Our app features the ability to change between a pregnancy and menstruation calendar, which both give the user personalized data that helps them understand what to expect. The app is incredibly user friendly and displays information in an interactive calendar that either shows menstruation cycles in different colors or weeks of pregnancy based on the size of the baby that week.
    </p>
    <div class="skills">
      
    </div>
  </div>

  <div class="Fwrapper">
    <div class="Fcontainer">
      <input type="radio" name="slide" id="b1" checked>
      <label for="b1" class="card">
        <div class="row">
          <!-- <div class="icon">1</div>
          <div class="desc">
            <h4>title 1</h4>
            <p>blah blah blah </p> -->
          <!-- </div> -->
        </div>
      </label>
      <input type="radio" name="slide" id="b2" >
      <label for="b2" class="card">
        <div class="row">
          <!-- <div class="icon">2</div>
          <div class="desc">
            <h4>title 2</h4>
            <p>blah blah blah </p> -->
          <!-- </div> -->
        </div>
      </label>
      <input type="radio" name="slide" id="b3" >
      <label for="b3" class="card">
        <div class="row">
          <!-- <div class="icon">3</div>
          <div class="desc">
            <h4>title 3</h4>
            <p>blah blah blah </p>
          </div> -->
        </div>
      </label>
    </div>
  </div>


</body>
</html>




