<div class="features">
    <h3>App Features</h3>
    <div>
      Our app features the ability to change between a pregnancy and menstruation calendar, which both give the user personalized data that helps them understand what to expect. It features a chat bot and the ability to track daily experiences. The app is incredibly user friendly and displays information in an interactive calendar that either shows menstruation cycles in different colors or weeks of pregnancy based on the size of the baby that week.
    </div>
  </div>
  