<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Features Section</title>
  <link rel="stylesheet" href="./about.component.css">
</head>


  <!-- images -->
 
  <body class="about-section">
    <div class="wrapper">
      <div class="container">
        <input type="radio" name="slide" id="c1" checked>
        <label for="c1" class="card">
          <div class="row">
            <!-- <div class="icon">1</div>
            <div class="desc">
              <h4>title 1</h4>
              <p>blah blah blah </p> -->
            <!-- </div> -->
          </div>
        </label>
        <input type="radio" name="slide" id="c2" >
        <label for="c2" class="card">
          <div class="row">
            <!-- <div class="icon">2</div>
            <div class="desc">
              <h4>title 2</h4>
              <p>blah blah blah </p> -->
            <!-- </div> -->
          </div>
        </label>
        <input type="radio" name="slide" id="c3" >
        <label for="c3" class="card">
          <div class="row">
            <!-- <div class="icon">3</div>
            <div class="desc">
              <h4>title 3</h4>
              <p>blah blah blah </p>
            </div> -->
          </div>
        </label>
      </div>
    </div>
  
    <div class="innerC">
      <h1>About Cycles</h1>
      <p class="Atext">
        Cycles is a period and pregnancy tracker that includes information on all four phases of the menstruation cycle. It allows users to track their daily symptoms and experiences in order to get back personalized data. This gives them a better understanding of their own bodies during pregnancy and menstruation.
      </p>


      <!-- <div class="Askills">
        <span>feature 1</span>
        <span>feature 2</span>
        <span>feature 3</span>
      </div> -->

      <p>
        Our sources provide comprehensive insights into maternal and pediatric care. Kaiser Permanente's "Care & Coverage, From Prenatal to Pediatrics" highlights integrated healthcare from pregnancy to early childhood. Cleveland Clinic offers detailed information on body systems and organs, emphasizing their role in overall health. The listed healthcare professionals, including board-certified OB/GYNs Dr. Rebecca Amaru, Dr. Jennifer Butt, and Dr. Allison Bloom, alongside pediatric specialists Dr. Suzanne Chan, Dr. Lauren Crosby, and Dr. Marty Ellington, contribute their expertise in obstetrics, gynecology, pediatrics, and neonatology, ensuring a well-rounded understanding of prenatal and pediatric care.
      </p>
      

    </div>




</body>
</html>