<div class="login-container">
  <div class="form-container">
    <h2>Login</h2>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label">Password</label>
        <input type="password" class="form-control form-control-sm" id="exampleInputPassword2">
      </div>
      <button type="submit" class="btn btn-primary btn-sm" [routerLink]="['/tracker']">Login</button>
    </form>
  </div>
</div>
