
    <H2>PREGNANCY TRACKER</H2>
  
    
      <div class="content">
        <div class="left-panel">
          <div class="cycle-indicator">
            <div class="cycle-day"></div>
            <div class="cycle-stage"></div>
          </div>
          <div id="todayButton" class="today-button" (click)="openPopover()">Today</div>
          <div class="due-date-input">
            <label for="dueDate">Enter Due Date: </label>
            <input type="date" id="dueDate" [(ngModel)]="dueDate">
            <button (click)="calculateConceptionDate()">Calculate Conception Date</button>
          </div>
        </div>
        
        <div class="calendar">
          <div class="month-nav">
            <button (click)="prevMonth()">&lt;</button>
            <div class="month">{{ monthNames[currentMonth] }} {{ currentYear }}</div>
            <button (click)="nextMonth()">&gt;</button>
          </div>
          <div class="calendar-grid">
            <div class="day-label">S</div>
            <div class="day-label">M</div>
            <div class="day-label">T</div>
            <div class="day-label">W</div>
            <div class="day-label">T</div>
            <div class="day-label">F</div>
            <div class="day-label">S</div>
            <!-- <div *ngFor="let day of days" [class.empty]="day === 0" [class.menstrual]="day !== 0 && isMenstrual(day)" [class.follicular]="day !== 0 && isFollicular(day)" [class.ovulation]="day !== 0 && isOvulation(day)" [class.luteal]="day !== 0 && isLuteal(day)">
              {{ day !== 0 ? day : '' }}
            </div> -->
            <div *ngFor="let day of days" [class.empty]="day === 0" (click)="showBabySize(day)">
              <div *ngIf="day !== 0" class="day-container">
                {{ day }}
                <div *ngIf="getWeekNumber(day) > 0" class="circle" [style.backgroundColor]="getCircleColor(day)">
                </div>
              </div>
            </div>
    
          </div>  
      
   
