<div class="container">
    <div class="content">
      <div class="text-content">
        <h1>Cycles</h1>
        <h2>Track your cycle</h2>
        <p>
          Log your moods, symptoms, and activities on a calendar, get personalized tips & suggestions based on your data.
        </p>
        <button class="start-tracking-btn" [routerLink]="['/home']">Start tracking</button>
      </div>
      <div class="image-content">
        <img src="/src/background.png">
      </div>
    </div>
  </div>
