<div class="container">
    <div class="content">
      <div class="text-content">
        <!-- <button class="btn btn-outline-success" type="submit"><a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="router-link-active"  href="#">Sign Up / Login</a></button> -->

        <h1>Cycles</h1>
        <h2>Track your cycle</h2>
        <p>
          Log your moods, symptoms, and activities on a calendar, get personalized tips & suggestions based on your data.
        </p>
        <button class="start-tracking-btn" [routerLink]="['/home']">Start tracking</button>
      </div>
      <div class="image-content">
        <img src="/src/background.png">
      </div>
    </div>
  </div>


