<div class="popover-content">
    <form>
      <div class="form-section">
        <h3>DID YOUR PERIOD OCCUR?</h3>
        <div class="form-option"><label><input type="checkbox"> Yes</label></div>
        <div class="form-option"><label><input type="checkbox"> No</label></div>
      </div>
      
      <div class="form-section">
        <h3>WHAT WAS YOUR MOOD(S) TODAY?</h3>
        <div class="form-option"><label><input type="checkbox"> Happy</label></div>
        <div class="form-option"><label><input type="checkbox"> Sad</label></div>
        <div class="form-option"><label><input type="checkbox"> Angry</label></div>
        <div class="form-option"><label><input type="checkbox"> Anxious</label></div>
        <div class="form-option"><label><input type="checkbox"> Energetic</label></div>
        <div class="form-option"><label><input type="checkbox"> Tired</label></div>
        <div class="form-option"><label><input type="checkbox"> Depressed</label></div>
      </div>
      
      <div class="form-section">
        <h3>DID YOU HAVE ANY SEXUAL ACTIVITY?</h3>
        <div class="form-option"><label><input type="checkbox"> Did not have sex</label></div>
        <div class="form-option"><label><input type="checkbox"> Unprotected</label></div>
        <div class="form-option"><label><input type="checkbox"> Protected</label></div>
        <div class="form-option"><label><input type="checkbox"> Anal</label></div>
      </div>
      
      <div class="form-section">
        <h3>WHAT WAS YOUR BIRTH CONTROL INTAKE?</h3>
        <div class="form-option"><label><input type="checkbox"> Took it</label></div>
        <div class="form-option"><label><input type="checkbox"> Took today's and yesterday's pill</label></div>
        <div class="form-option"><label><input type="checkbox"> Skipped it</label></div>
        <div class="form-option"><label><input type="checkbox"> Not on birth control</label></div>
      </div>
      
      <div class="form-section">
        <h3>WHAT ARE YOUR PERIOD SYMPTOMS TODAY?</h3>
        <div class="form-option"><label><input type="checkbox"> None</label></div>
        <div class="form-option"><label><input type="checkbox"> Cramps</label></div>
        <div class="form-option"><label><input type="checkbox"> Back Pain</label></div>
        <div class="form-option"><label><input type="checkbox"> Breast Pain</label></div>
        <div class="form-option"><label><input type="checkbox"> Exhaustion</label></div>
        <div class="form-option"><label><input type="checkbox"> Acne</label></div>
        <div class="form-option"><label><input type="checkbox"> Headache</label></div>
        <div class="form-option"><label><input type="checkbox"> Stomach pain</label></div>
      </div>
      
      <div class="form-section">
        <h3>DID YOU PARTAKE IN PHYSICAL ACTIVITY TODAY?</h3>
        <div class="form-option"><label><input type="checkbox"> Did not exercise</label></div>
        <div class="form-option"><label><input type="checkbox"> Gym</label></div>
        <div class="form-option"><label><input type="checkbox"> Outdoors</label></div>
        <div class="form-option"><label><input type="checkbox"> Sports</label></div>
        <div class="form-option"><label><input type="checkbox"> Walking / Running</label></div>
        <div class="form-option"><label><input type="checkbox"> Biking</label></div>
        <div class="form-option"><label><input type="checkbox"> Swimming</label></div>
        <div class="form-option"><label><input type="checkbox"> Yoga</label></div>
      </div>
      
      <div class="form-section">
        <h3>WATER INTAKE (OZ):</h3>
        <div class="form-option"><input type="text" placeholder="allow user to fill in amount OZ"></div>
      </div>
      
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>
  </div>
  
  
