main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.signup-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-container {
  position: absolute;
  top: 30px;
  right: 20px;
  bottom: 400px;
  text-align: center;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  width: 50%;
}

.or {
  position: absolute;
  top: 180px;
  right: 280px;
  text-align: center;
}

h4 {
  margin-bottom: 20px;
  color: #333;
}

.form-label {
  color: #555;
  text-align: left;
  width: 100%;
}

.form-control-sm {
  width: 100%;
  margin-bottom: 10px;
}

.btn {
  width: 100%;
}
  