<main>
<div class="signup-container">
  <div class="form-container">
    <h2>New? Sign Up for FREE</h2>
    <form>
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control form-control-sm" id="firstName" placeholder="First Name">
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control form-control-sm" id="lastName" placeholder="Last Name">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Create Password</label>
        <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
        <input type="password" class="form-control form-control-sm" id="exampleInputPassword2">
      </div>
      <button type="submit" class="btn btn-primary btn-sm">Sign Up</button>
      <p>Already a user ? <button type="submit" class="btn btn-primary btn-sm" [routerLink]="['/login']"
      routerLinkActive="router-link-active">Login</button></p>
    </form>
  </div>
</div>


</main>