.form-background {
    background-image: url('https://drive.google.com/file/d/1J4y3DMcG037TZKBlYq_H3CyTdgGRLGBX/view?usp=sharing');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
}